<div id="<%= dom_id video %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Video:</strong>
    <div class="max-w-2xl h-auto">
      <video 
        id="my-player" 
        class="video-js vjs-16-9" 
        controls 
        preload="auto" 
        width="100%"
        data-setup='{
          "timelineHoverPreviews": true,
          "plugins": {
            "mux": {
              "debug": true,
              "data":{
                "env_key": "afsac6gl89ec1fi293tmnmd5o",
                "video_title": "Example Title"
              }
            }
          }
        }'
      >
        <source src="f00lkMcBO01tt52I86AZI01eKw5RPU7BWwfbTVYev6k7Bg" type="video/mux" />
      </video>  
    </div>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this video", video, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this video', edit_video_path(video), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
